<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link href='/stylesheets/fullcalendar.css' rel='stylesheet' />
<link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='/javascripts/jquery.min.js'></script>
<script src='/javascripts/jquery-ui.custom.min.js'></script>
<script src='/javascripts/fullcalendar.js'></script>
<style>

body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

.calendarWrapper {
	width: 1190px;
	margin: 0 auto 15px;
}

#calendar {
	width: 400px;
	background: #fff;
	padding: 15px 10px;
}

.calendarWrapper .rightSidePanel {
	width: 725px;
	padding: 0px 15px;
}
.dib {display: inline-block;}
.fr {float: right;}

table {
	width: 100%;
	max-width: 100%;
	background-color: transparent;
	text-align: center;
	padding-top: 20px;
	box-sizing:border-box;
	border-top-width: 1px;
    	border-right-width: 1px;
    	border-bottom-width: 1px;
    	border-left-width: 1px;
    	border-top-style: solid;
    	border-right-style: solid;
  	border-bottom-style: none;
    	border-left-style: solid;
    	border-top-color: #CCCCCC;
    	border-right-color: #CCCCCC;
    	border-bottom-color: #CCCCCC;
    	border-left-color: #CCCCCC;
}


th, td{
    	border-bottom-width: 1px;
    	border-bottom-style: solid;
        border-bottom-color: #CCCCCC;
    	border-right-width: 0px;
    	border-left-width: 1px;
    	border-right-style: none;
    	border-left-style: solid;
    	border-right-color: #CCCCCC;
    	border-left-color: #CCCCCC;
    } 


.white_content {
	display: none;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 35%;
	height: 55%;
	padding: 20px;
	border: 2px solid blue;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	border-radius: 10px;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=88);
}
.form-group {margin-top: 10px; margin-bottom: 5px;}

.sr-only {
        text-align:left;
        display: block;
        max-width: 100%;
        margin-left: 20px;
        margin-bottom: 5px;
        font-weight: 700;
}


.form-control {
        display: block;
        width: 88%;
        height: 34px;
        margin-left: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;

}
.form-shift {
        display: inline-block;
        width: 25%;
        height: 34px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;

}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
}
		textarea {
			width: 400px; 
			height: 200px;
		}
		textarea.edit_shift {
			width: 300px;
			height: 100px;
		}

</style>
</head>
<body>
	<% if (error) { %>
		<div id="msgTopTip">
			<span><i class="iconTip"></i><%= error %></span>
		</div>
	<% } %>
	<div class="calendarWrapper">
		<div class="rightSidePanel mb50 fr">
			<div id="users-add" class="white_content">
			<form style="height: 90%" id="users" method="post" action="./add">
				<div class="form-group">
                                <label class="sr-only" for="name">用户名：</label>
                                <input class="form-control" id="name" type="text" name="name" placeholder="请输入用户名" />
                                </div>	
				<div class="form-group">
                                <label class="sr-only" for="phone">手&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
                                <input class="form-control" id="phone" type="text" name="phone" placeholder="请输入手机号" />
                                </div>	
				<div class="form-group">
                                <label class="sr-only" for="email">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
                                <input class="form-control" id="email" type="text" name="email" placeholder="请输入邮箱" />
                                </div>	
				<div class="form-group">
                                <label class="sr-only" for="shift">排班次序</label>
				<select class="form-shift" id="ampm">
					<option selected="selected" value="0">不值早晚班</option>
					<option value='<%= ss.a %>'>早晚班-<%= ss.a %></option>
				</select>
				<!--
                                <label class="sr-only" for="normal">日常</label>
				-->
				<select class="form-shift" id="normal">
					<option selected="selected" value="0">不值日常班</option>
					<% if (ss.n <=5) { %>
					<option value='<%= ss.n %>'>日常班-<%= ss.n %></option>
					<% } %>
				</select>
				<!--
                                <label class="sr-only" for="weekend">周末</label>
				-->
				<select class="form-shift" id="weekend">
					<option selected="selected" value='<%= ss.w %>'>周末班-<%= ss.w %></option>
				</select>
                                </div>	
				<input class="btn" type="reset" value="取消" />
				<input class="btn" type="submit" value="添加" />
			</form>
				<a style="margin-right: 10px" href="javascript:void(0)" onclick="document.getElementById('users-add').style.display='none';document.getElementById('fade').style.display='none'">关闭</a>
			</div>
			<div id="edit_shift" class="white_content">
				<form id="update_shift" action="./update" method="post">
                                	<label class="sr-only" for="ampm">早晚班：</label>
					<textarea name="ampm" class="edit_shift">
					<%= shifts.ampm %>
					</textarea><br/>
                                	<label class="sr-only" for="normal">日常班：</label>
					<textarea name="normal" class="edit_shift">
					<%= shifts.normal %>
					</textarea><br/>
                                	<label class="sr-only" for="weekend">周末班：</label>
					<textarea name="weekend" class="edit_shift">
					<%= shifts.weekend %>
					</textarea><br/>
					<input type="submit" class="btn" value="保存" />
				</form>
				<a style="margin-right: 10px" href="javascript:void(0)" onclick="document.getElementById('edit_shift').style.display='none';document.getElementById('fade').style.display='none'">关闭</a>
			</div>
			<div id="fade" class="black_overlay"></div>
			<table>
				<tr>
					<th>用户</th>
					<th>手机</th>
					<th>邮箱</th>
					<th>排班次序</th>
					<th>操作</th>
				</tr>
				<% users.forEach(function(user) { %>
				<tr id='<%= user._id %>'>
					<td><%= user.name %></td>
					<td><%= user.phone %></td>
					<td><%= user.email %></td>
					<td>
						<% if(user.shift.ampm) { %>
						<span>早晚：<%= user.shift.ampm %></span>
						<% } %>
						<% if(user.shift.normal) { %>
						<span>日常：<%= user.shift.normal %></span>
						<% } %>
						<% if(user.shift.weekend) { %>
						<span>周末：<%= user.shift.weekend %></span>
						<% } %>
					</td>
					<td>
						<a href='./delete?id=<%= user._id %>'>删除</a>
					</td>
				</tr>
				<% }) %>
			</table>
			<div>
				<button type="button" id="add_user" onclick="add_user()">添加用户</button>
				<button type="button" id="edit_shift" onclick="edit_shift()">编辑排班次序</button><br />
				<a href='/schedulers/'>返回首页</a>
			</div>
		</div>
		<div id="calendar" class="dib">
			<form id="days" action="./days" method="post">
                                <label class="sr-only" for="holidays">节假日：</label>
				<textarea name="holidays">
				</textarea><br/>
                                <label class="sr-only" for="weekendoff">工作日：</label>
				<textarea name="weekendoff">
				</textarea><br/>
				<input type="submit" class="btn" value="保存" />
			</form>
		</div>
	</div>
	<script type='text/javascript'>
		function add_user() {
			$("#users-add").show();
			$('#fade').show();
		}

		function edit_shift() {
			$('#edit_shift').show();
			$('fade').show();
		}

	</script>
</body>
</html>
